ul.dropdown_list,
ul.dropdown_list li { margin: 0; padding: 0; list-style: none; }
 a.dropdown,
 ul.dropdown_list li a { font: 13px; font-weight: normal; color: #000; padding: 3px 5px; text-align: left; display: block; }
  ul.dropdown_list li a.selected { background:#ccc;}
 
a.dropdown { border: 2px solid #ccc; cursor: pointer; outline:0; text-decoration:none;}

ul.dropdown_list { border: 2px solid black;margin-top:-2px; }
 ul.dropdown_list li a { text-decoration: none; background: #fff; color: black; }
 ul.dropdown_list li a.hover { background: #e2e2e2; }

.pq-demo ul.dropdown_list li a { background: transparent; }
.pq-demo a.dropdown { border:0; background: #e2e2e2; padding: 5px; }
.pq-demo .dropdown_list { border:0; background: #e2e2e2; }
.pq-demo .dropdown_list a {color:#999;}
.pq-demo .dropdown_list a.hover {color:black;}

.pq-demo a.dropdown {  -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
.pq-demo a.active {  -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; -webkit-border-top-left-radius: 6px; -webkit-border-top-right-radius: 6px; -moz-border-radius-topleft: 6px; -moz-border-radius-topright: 6px; border-top-left-radius: 6px; border-top-right-radius: 6px; }
.pq-demo .dropdown_list { -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; -webkit-border-bottom-right-radius: 6px; -webkit-border-bottom-left-radius: 6px; -moz-border-radius-bottomright: 6px; -moz-border-radius-bottomleft: 6px; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; }

.scroll-demo .dropdown_list {max-height:150px;overflow-y:auto;}